<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <thead>
        <h3>ジャンル</h3>
      </thead>
      <tbody>

      </tbody>
    </div>
    <div class="col-lg-10">
      <h3>
        ようこそ、ながのCAKEへ！<br>
        このさいとは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </h3>

      <h3>新着商品</h3>


    </div>
  </div>
</div>
